/**
 * @name squircle icons
 * @author Whitelightning
 * @description squircle server/avatar icons
*/

/* ------------------------------------------------------------------------------*/
/* -                              Squircle Icons                                -*/
/* ------------------------------------------------------------------------------*/

:root { --theme-icon-radius: 32%; } /* default */

[class*=avatar_],
[class^=replyAvatar_],
[class^=embedAuthorIcon_],
[class^=wrapperSimple_],
foreignObject[mask*="url(#"]  { border-radius: var(--theme-icon-radius) !important; }
foreignObject[mask*="url(#"]  { mask: none !important; }
